<a href="https://colab.research.google.com/github/jigyasu10/python_codes/blob/master/Understanding_functional_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Objective: Understanding basic map, reduce and filter function in python
[base source ](https://realpython.com/courses/functional-programming-python/)

In [0]:
import collections
from pprint import pprint

import os
import time
import itertools
import multiprocessing

import concurrent.futures

In [0]:
scientist = collections.namedtuple('Scientist', ['name','field','birthday','nobel'])

In [14]:
scientist

__main__.Scientist

In [15]:
scientist(name = 'Ada Lovelace', field = 'math', birthday = '1815', nobel =False)

Scientist(name='Ada Lovelace', field='math', birthday='1815', nobel=False)

In [0]:
ada = scientist(name = 'Ada Lovelace', field = 'math', birthday = '1815', nobel =False)

In [17]:
### This is an immutable object now
ada.name

'Ada Lovelace'

In [0]:
scientists = tuple([
...     {'name': 'Ada Lovelace', 'field': 'math', 'born': 1815, 'nobel': False},
...     {'name': 'Emmy Noether', 'field': 'math', 'born': 1882, 'nobel': False},
...     {'name': 'Marie Curie', 'field': 'physics', 'born': 1930, 'nobel': True},
... ])

In [20]:
pprint(scientists)

({'born': 1815, 'field': 'math', 'name': 'Ada Lovelace', 'nobel': False},
 {'born': 1882, 'field': 'math', 'name': 'Emmy Noether', 'nobel': False},
 {'born': 1930, 'field': 'physics', 'name': 'Marie Curie', 'nobel': True})

In [0]:
import collections

Scientist = collections.namedtuple('Scientist', [
    'name',
    'field',
    'born',
    'nobel',
])

scientists = (
    Scientist(name='Ada Lovelace', field='math', born=1815, nobel=False),
    Scientist(name='Emmy Noether', field='math', born=1882, nobel=False),
    Scientist(name='Marie Curie', field='physics', born=1867, nobel=True),
    Scientist(name='Tu Youyou', field='chemistry', born=1930, nobel=True),
    Scientist(name='Ada Yonath', field='chemistry', born=1939, nobel=True),
    Scientist(name='Vera Rubin', field='astronomy', born=1928, nobel=False),
    Scientist(name='Sally Ride', field='physics', born=1951, nobel=False),
)

In [22]:
scientists

(Scientist(name='Ada Lovelace', field='math', born=1815, nobel=False),
 Scientist(name='Emmy Noether', field='math', born=1882, nobel=False),
 Scientist(name='Marie Curie', field='physics', born=1867, nobel=True),
 Scientist(name='Tu Youyou', field='chemistry', born=1930, nobel=True),
 Scientist(name='Ada Yonath', field='chemistry', born=1939, nobel=True),
 Scientist(name='Vera Rubin', field='astronomy', born=1928, nobel=False),
 Scientist(name='Sally Ride', field='physics', born=1951, nobel=False))

In [23]:
scientists[0].name

'Ada Lovelace'

### Filter

In [0]:
fs = filter(lambda x: x.nobel is True, scientists)

In [25]:
next(fs)

Scientist(name='Marie Curie', field='physics', born=1867, nobel=True)

In [26]:
fs_tuple = tuple(filter(lambda x: x.nobel is True, scientists))
pprint(fs_tuple)

(Scientist(name='Marie Curie', field='physics', born=1867, nobel=True),
 Scientist(name='Tu Youyou', field='chemistry', born=1930, nobel=True),
 Scientist(name='Ada Yonath', field='chemistry', born=1939, nobel=True))

In [27]:
pprint(tuple(filter(lambda x: True, scientists)))

(Scientist(name='Ada Lovelace', field='math', born=1815, nobel=False),
 Scientist(name='Emmy Noether', field='math', born=1882, nobel=False),
 Scientist(name='Marie Curie', field='physics', born=1867, nobel=True),
 Scientist(name='Tu Youyou', field='chemistry', born=1930, nobel=True),
 Scientist(name='Ada Yonath', field='chemistry', born=1939, nobel=True),
 Scientist(name='Vera Rubin', field='astronomy', born=1928, nobel=False),
 Scientist(name='Sally Ride', field='physics', born=1951, nobel=False))

In [28]:
pprint(tuple(filter(lambda x: x.field == "physics", scientists)))

(Scientist(name='Marie Curie', field='physics', born=1867, nobel=True),
 Scientist(name='Sally Ride', field='physics', born=1951, nobel=False))

In [29]:
# List comprehension
[x for x in scientists if x.nobel is True]

[Scientist(name='Marie Curie', field='physics', born=1867, nobel=True),
 Scientist(name='Tu Youyou', field='chemistry', born=1930, nobel=True),
 Scientist(name='Ada Yonath', field='chemistry', born=1939, nobel=True)]

### Map

In [0]:
name_age = tuple(map(lambda x: {'name': x.name, 'age': 2020 - x.born} , scientists))

In [32]:
pprint(name_age)

({'age': 205, 'name': 'Ada Lovelace'},
 {'age': 138, 'name': 'Emmy Noether'},
 {'age': 153, 'name': 'Marie Curie'},
 {'age': 90, 'name': 'Tu Youyou'},
 {'age': 81, 'name': 'Ada Yonath'},
 {'age': 92, 'name': 'Vera Rubin'},
 {'age': 69, 'name': 'Sally Ride'})

##### Used for transformations, easy mapping of the same

In [34]:
pprint(tuple({'name': x.name, 'age': 2020 - x.born} for x in scientists))

({'age': 205, 'name': 'Ada Lovelace'},
 {'age': 138, 'name': 'Emmy Noether'},
 {'age': 153, 'name': 'Marie Curie'},
 {'age': 90, 'name': 'Tu Youyou'},
 {'age': 81, 'name': 'Ada Yonath'},
 {'age': 92, 'name': 'Vera Rubin'},
 {'age': 69, 'name': 'Sally Ride'})

### Reduce

In [0]:
from functools import reduce
total_age = reduce(lambda acc, val : acc + val['age'], name_age, 0) # 0 is the initial value of accumulator

In [41]:
total_age

828

In [0]:
def reducer(acc, val):
  acc[val.field].append(val.name)
  return acc

In [45]:
reduce(reducer, scientists,{'math': [], 'physics':[], 'chemistry': [], 'astronomy': []})

{'astronomy': ['Vera Rubin'],
 'chemistry': ['Tu Youyou', 'Ada Yonath'],
 'math': ['Ada Lovelace', 'Emmy Noether'],
 'physics': ['Marie Curie', 'Sally Ride']}

In [46]:
pprint(reduce(reducer, scientists,{'math': [], 'physics':[], 'chemistry': [], 'astronomy': []}))

{'astronomy': ['Vera Rubin'],
 'chemistry': ['Tu Youyou', 'Ada Yonath'],
 'math': ['Ada Lovelace', 'Emmy Noether'],
 'physics': ['Marie Curie', 'Sally Ride']}

In [49]:
import collections 
reduce(reducer, scientists, collections.defaultdict(list)) # defines the unique key in dictionary

defaultdict(list,
            {'astronomy': ['Vera Rubin'],
             'chemistry': ['Tu Youyou', 'Ada Yonath'],
             'math': ['Ada Lovelace', 'Emmy Noether'],
             'physics': ['Marie Curie', 'Sally Ride']})

In [0]:
# Pythonic version
import itertools
scientists_by_fields = {
    item[0]: list(item[1])
    for item in itertools.groupby(scientists, lambda x: x.field)
}

In [51]:
scientists_by_fields

{'astronomy': [Scientist(name='Vera Rubin', field='astronomy', born=1928, nobel=False)],
 'chemistry': [Scientist(name='Tu Youyou', field='chemistry', born=1930, nobel=True),
  Scientist(name='Ada Yonath', field='chemistry', born=1939, nobel=True)],
 'math': [Scientist(name='Ada Lovelace', field='math', born=1815, nobel=False),
  Scientist(name='Emmy Noether', field='math', born=1882, nobel=False)],
 'physics': [Scientist(name='Sally Ride', field='physics', born=1951, nobel=False)]}

In [52]:
pprint(scientists_by_fields)

{'astronomy': [Scientist(name='Vera Rubin', field='astronomy', born=1928, nobel=False)],
 'chemistry': [Scientist(name='Tu Youyou', field='chemistry', born=1930, nobel=True),
               Scientist(name='Ada Yonath', field='chemistry', born=1939, nobel=True)],
 'math': [Scientist(name='Ada Lovelace', field='math', born=1815, nobel=False),
          Scientist(name='Emmy Noether', field='math', born=1882, nobel=False)],
 'physics': [Scientist(name='Sally Ride', field='physics', born=1951, nobel=False)]}

In [0]:
# not for production like codes, but different ways to do it
scientists_by_field2 = reduce(
    lambda acc, val: {**acc, **{val.field: acc[val.field] + [val.name]}}, scientists, 
    {'math': [], 'physics':[], 'chemistry': [], 'astronomy': []}
)

In [54]:
scientists_by_field2

{'astronomy': ['Vera Rubin'],
 'chemistry': ['Tu Youyou', 'Ada Yonath'],
 'math': ['Ada Lovelace', 'Emmy Noether'],
 'physics': ['Marie Curie', 'Sally Ride']}

Multiprocessing Testbed

In [0]:
def transform(x):
  return {'name': x.name, 'age': 2020 - x.born}

In [0]:
results = tuple(map(transform, scientists))

In [58]:
pprint(results)

({'age': 205, 'name': 'Ada Lovelace'},
 {'age': 138, 'name': 'Emmy Noether'},
 {'age': 153, 'name': 'Marie Curie'},
 {'age': 90, 'name': 'Tu Youyou'},
 {'age': 81, 'name': 'Ada Yonath'},
 {'age': 92, 'name': 'Vera Rubin'},
 {'age': 69, 'name': 'Sally Ride'})

In [60]:
# lets make it slow
import time
def transform_slow(x):
  time.sleep(1) 
  return {'name': x.name, 'age': 2020 - x.born}

results_slow = tuple(map(transform_slow, scientists))
pprint(results_slow)

({'age': 205, 'name': 'Ada Lovelace'},
 {'age': 138, 'name': 'Emmy Noether'},
 {'age': 153, 'name': 'Marie Curie'},
 {'age': 90, 'name': 'Tu Youyou'},
 {'age': 81, 'name': 'Ada Yonath'},
 {'age': 92, 'name': 'Vera Rubin'},
 {'age': 69, 'name': 'Sally Ride'})

In [0]:
# Lets make it paralle!
import multiprocessing

In [62]:
def transform(x):
  print(f'Processing record {x.name}')
  time.sleep(1)
  results = {'name': x.name, 'age': 2020 - x.born}
  print(f'done processing recird {x.name}')
  return results
  

start = time.time()

results = tuple(map(transform, scientists))

end = time.time()
print(f'time to complete' {end - start}')
pprint(results)

Processing record Ada Lovelace
ERROR! Session/line number was not unique in database. History logging moved to new session 64
done processing recird Ada Lovelace
Processing record Emmy Noether
done processing recird Emmy Noether
Processing record Marie Curie
done processing recird Marie Curie
Processing record Tu Youyou
done processing recird Tu Youyou
Processing record Ada Yonath
done processing recird Ada Yonath
Processing record Vera Rubin
done processing recird Vera Rubin
Processing record Sally Ride
done processing recird Sally Ride
time to complete 7.011304616928101
({'age': 205, 'name': 'Ada Lovelace'},
 {'age': 138, 'name': 'Emmy Noether'},
 {'age': 153, 'name': 'Marie Curie'},
 {'age': 90, 'name': 'Tu Youyou'},
 {'age': 81, 'name': 'Ada Yonath'},
 {'age': 92, 'name': 'Vera Rubin'},
 {'age': 69, 'name': 'Sally Ride'})

In [63]:
def transform(x):
  print(f'Processing record {x.name}')
  time.sleep(1)
  results = {'name': x.name, 'age': 2020 - x.born}
  print(f'done processing recird {x.name}')
  return results
  

start = time.time()
pool = multiprocessing.Pool()
results = pool.map(transform, scientists)

end = time.time()
print(f'time to complete {end - start}')
pprint(results)

ERROR! Session/line number was not unique in database. History logging moved to new session 65
Processing record Ada Lovelace
Processing record Emmy Noether
done processing recird Emmy Noether
done processing recird Ada Lovelace
Processing record Marie Curie
Processing record Tu Youyou
done processing recird Marie Curie
Processing record Ada Yonath
done processing recird Tu Youyou
Processing record Vera Rubin
done processing recird Ada Yonath
Processing record Sally Ride
done processing recird Vera Rubin
done processing recird Sally Ride
time to complete 4.070314407348633
[{'age': 205, 'name': 'Ada Lovelace'},
 {'age': 138, 'name': 'Emmy Noether'},
 {'age': 153, 'name': 'Marie Curie'},
 {'age': 90, 'name': 'Tu Youyou'},
 {'age': 81, 'name': 'Ada Yonath'},
 {'age': 92, 'name': 'Vera Rubin'},
 {'age': 69, 'name': 'Sally Ride'}]

In [66]:
import os
# os.getpid to understand the unique processes at a time
def transform(x):
  print(f'Process {os.getpid()} {x.name}')
  time.sleep(1)
  results = {'name': x.name, 'age': 2020 - x.born}
  print(f'Process {os.getpid()} {x.name}') 
  return results
  

start = time.time()
pool = multiprocessing.Pool()
results = pool.map(transform, scientists)

end = time.time()
print(f'time to complete {end - start}') 
pprint(results)

Process 757 Emmy Noether
Process 756 Ada Lovelace
Process 757 Emmy Noether
Process 756 Ada Lovelace
Process 756 Marie Curie
Process 757 Tu Youyou
Process 756 Marie Curie
Process 757 Tu Youyou
Process 756 Vera Rubin
Process 757 Ada Yonath
Process 756 Vera Rubin
Process 756 Sally Ride
Process 757 Ada Yonath
Process 756 Sally Ride
time to complete 4.056396722793579
[{'age': 205, 'name': 'Ada Lovelace'},
 {'age': 138, 'name': 'Emmy Noether'},
 {'age': 153, 'name': 'Marie Curie'},
 {'age': 90, 'name': 'Tu Youyou'},
 {'age': 81, 'name': 'Ada Yonath'},
 {'age': 92, 'name': 'Vera Rubin'},
 {'age': 69, 'name': 'Sally Ride'}]

In [67]:
# Running only one process
# os.getpid to understand the unique processes at a time
def transform(x):
  print(f'Process {os.getpid()} {x.name}')
  time.sleep(1)
  results = {'name': x.name, 'age': 2020 - x.born}
  print(f'Process {os.getpid()} {x.name}') 
  return results
  

start = time.time()
pool = multiprocessing.Pool(processes= 1)
results = pool.map(transform, scientists)

end = time.time()
print(f'time to complete {end - start}') 
pprint(results)

Process 795 Ada Lovelace
Process 795 Ada Lovelace
Process 795 Emmy Noether
Process 795 Emmy Noether
Process 795 Marie Curie
Process 795 Marie Curie
Process 795 Tu Youyou
Process 795 Tu Youyou
Process 795 Ada Yonath
Process 795 Ada Yonath
Process 795 Vera Rubin
Process 795 Vera Rubin
Process 795 Sally Ride
Process 795 Sally Ride
time to complete 7.066489219665527
[{'age': 205, 'name': 'Ada Lovelace'},
 {'age': 138, 'name': 'Emmy Noether'},
 {'age': 153, 'name': 'Marie Curie'},
 {'age': 90, 'name': 'Tu Youyou'},
 {'age': 81, 'name': 'Ada Yonath'},
 {'age': 92, 'name': 'Vera Rubin'},
 {'age': 69, 'name': 'Sally Ride'}]

In [69]:
import os
# os.getpid to understand the unique processes at a time
def transform(x):
  print(f'Process {os.getpid()} {x.name}')
  time.sleep(1)
  results = {'name': x.name, 'age': 2020 - x.born}
  print(f'Process {os.getpid()} {x.name}') 
  return results
  

start = time.time()
pool = multiprocessing.Pool(processes= 4, maxtasksperchild= 2)
results = pool.map(transform, scientists)

end = time.time()
print(f'time to complete {end - start}') 
pprint(results)

Process 876 Marie Curie
Process 874 Ada Lovelace
Process 877 Tu Youyou
Process 875 Emmy Noether
Process 876 Marie Curie
Process 874 Ada Lovelace
Process 877 Tu Youyou
Process 876 Ada Yonath
Process 875 Emmy Noether
Process 875 Sally Ride
Process 877 Vera Rubin
Process 876 Ada Yonath
Process 877 Vera Rubin
Process 875 Sally Ride
time to complete 2.0788445472717285
[{'age': 205, 'name': 'Ada Lovelace'},
 {'age': 138, 'name': 'Emmy Noether'},
 {'age': 153, 'name': 'Marie Curie'},
 {'age': 90, 'name': 'Tu Youyou'},
 {'age': 81, 'name': 'Ada Yonath'},
 {'age': 92, 'name': 'Vera Rubin'},
 {'age': 69, 'name': 'Sally Ride'}]

Concurrent module in python 3

In [72]:
# os.getpid to understand the unique processes at a time
def transform(x):
  print(f'Process {os.getpid()} {x.name}')
  time.sleep(1)
  results = {'name': x.name, 'age': 2020 - x.born}
  print(f'Process {os.getpid()} {x.name}') 
  return results
  

start = time.time()
with concurrent.futures.ProcessPoolExecutor() as executor:
  results = executor.map(transform, scientists)

end = time.time()
print(f'time to complete {end - start}') 
pprint(tuple(results))

Process 983 Ada Lovelace
Process 984 Emmy Noether
Process 983 Ada Lovelace
Process 984 Emmy Noether
Process 983 Marie Curie
Process 984 Tu Youyou
Process 983 Marie Curie
Process 984 Tu Youyou
Process 984 Vera Rubin
Process 983 Ada Yonath
Process 984 Vera Rubin
Process 983 Ada Yonath
Process 983 Sally Ride
Process 983 Sally Ride
time to complete 4.060559034347534
({'age': 205, 'name': 'Ada Lovelace'},
 {'age': 138, 'name': 'Emmy Noether'},
 {'age': 153, 'name': 'Marie Curie'},
 {'age': 90, 'name': 'Tu Youyou'},
 {'age': 81, 'name': 'Ada Yonath'},
 {'age': 92, 'name': 'Vera Rubin'},
 {'age': 69, 'name': 'Sally Ride'})

One point to consider is that concurrent.futures provides a couple different implementations that allow you to easily change how your computations are happening in parallel.

In [73]:
# os.getpid to understand the unique processes at a time
def transform(x):
  print(f'Process {os.getpid()} {x.name}')
  time.sleep(1)
  results = {'name': x.name, 'age': 2020 - x.born}
  print(f'Process {os.getpid()} {x.name}') 
  return results
  

start = time.time()
with concurrent.futures.ThreadPoolExecutor() as executor:
  results = executor.map(transform, scientists)

end = time.time()
print(f'time to complete {end - start}') 
pprint(tuple(results))

Process 119 Emmy NoetherProcess 119 Ada LovelaceProcess 119 Marie CurieProcess 119 Tu Youyou



Process 119 Ada Yonath
Process 119 Vera Rubin
Process 119 Sally Ride
Process 119 Emmy Noether
Process 119 Marie Curie
Process 119 Tu Youyou
Process 119 Ada Lovelace
Process 119 Ada Yonath
Process 119 Vera Rubin
Process 119 Sally Ride
time to complete 1.014667272567749
({'age': 205, 'name': 'Ada Lovelace'},
 {'age': 138, 'name': 'Emmy Noether'},
 {'age': 153, 'name': 'Marie Curie'},
 {'age': 90, 'name': 'Tu Youyou'},
 {'age': 81, 'name': 'Ada Yonath'},
 {'age': 92, 'name': 'Vera Rubin'},
 {'age': 69, 'name': 'Sally Ride'})

 GIL, no two threads can execute Python code at the same time. So even if you have multiple threads running in your Python program, only one of them can execute at a time. The best way to get around this is to use process-based parallel programing, or process-based parallelism.